*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Inter',Arial, sans-serif;
    color: var(--main-blue);
}

:root{
    --main-green: #4EBE9D;
    --main-blue: #121138;
    --main-white: #fefefe;
    --background-blue: #E6F5FF;
    --footer-black: #171717;
    --footer-gray: #929292;
    --footer-white: #D1D1D1;
}

body{
    background-color: var(--background-blue);
}