footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 330px;
    width: 100%;

    background-color: var(--footer-black);

    color: var(--main-white);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.footer-cont{
    width: 100%;
    padding: 72px 128px 32px 128px;
}

.footer-up{
    display: flex;
    justify-content: space-between;
}

.footer-div{
    display: flex;
    flex-direction: column;
}

.footer-div a{
    margin-top: 16px;
    text-decoration: none;
    color: var(--footer-gray);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    transition: all 0.2s ease;
}

.footer-div a:hover{
    color: var(--footer-white);
}

.footer-down{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 72px;

    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    color: var(--footer-gray);
}

.footer-down a{
    color: var(--footer-gray);
    
    transition: all 0.2s ease;
}

.footer-down a:hover{
    color: var(--footer-white);

    transition: all 0.2s ease;
}

/* @media 780px */

@media (max-width: 780px)
{
    .footer-cont{
        padding: 72px 64px 32px 64px;
    }
}

@media (max-width: 600px)
{
    footer{
        height: auto;
    }

    .footer-div{
        width: 40vw;
        display: flex;
        align-items: flex-start;
        padding-top: 32px;
    }

    .footer-cont{
        padding: 40px 0px 32px 0px;
    }

    .footer-up{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* transform: translateX(-25%); */
    }

    .footer-down{
        padding: 72px 32px 0px 72px;
    }
}